.page {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #e5e8eb;
    height: 100vh;
}

.main {
    flex: 1;
}

.sidebar {
    background: linear-gradient(to bottom, #2f4858, #375668, #2f4858);
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 11em; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

.sidebar-min {
    width: 5em; /* Set the width of the sidebar */
}

.content {
    position: absolute;
    width: auto;
    right: 0;
    background-color: #e5e8eb
}

.content-max {
    left: 5em;
}

.content-min {
    left: 11em;
}

.item-text {
    color: white;
    vertical-align: middle;
}

.sidebar-min .item-text {
    display: none;
}

.sidebar-min .icon {
    margin-left: auto;
    margin-right: auto;
}

.nav-link {
    font-size: 2em;
    text-decoration: none
}

.oi {
    color: white;
}

.navbar {
    height: 2.5em;
}

.nav-item {
    font-size: 1rem;
    padding-bottom: 0.5rem;
    color: white;
    vertical-align: center;
}

.nav-item:first-of-type {
    padding-top: 1rem;
}

.nav-item:last-of-type {
    padding-bottom: 1rem;
}

.nav-item ::deep a.active {
    background-color: rgba(255, 255, 255, 0.25);
    color: white;
    border-radius: 5px;
}

.nav-item ::deep a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    border-radius: 5px;
}

.appname {
    font-size: 1em;
    font-weight: bold;
    color: white;
}

.sidebar-min .appname {
    display: none;
}

.btn:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}
