@using Blazored.Toast.Configuration
@using AndroidDataRecorder.Services
@inherits LayoutComponentBase

@inject LogBridge LogBridge;

<div class="page">
    <div class="@NavMenuCssClass">
        <div class="navbar">
            <btn class="icon btn" @onclick="ToggleNavMenu">
                <span class="oi oi-menu"></span>
            </btn>
            <span class="appname">AndroidDR</span>
        </div>


        <ul class="nav flex-column">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                    <span class="oi oi-home"></span>
                    <span class="item-text pl-2">Status</span>

                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="/Logger" Match="NavLinkMatch.All">
                    <span class="oi oi-book"></span>
                    <span class="item-text pl-2">Logger</span>
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="/Screen" Match="NavLinkMatch.All">
                    <span class="oi oi-monitor"></span>
                    <span class="item-text pl-2">Screen</span>
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="/Marker" Match="NavLinkMatch.All">
                    <span class="oi oi-map-marker"></span>
                    <span class="item-text pl-2">Marker</span>
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="/Config" Match="NavLinkMatch.All">
                    <span class="oi oi-cog"></span>
                    <span class="item-text pl-2">Config</span>
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="/ticket" Match="NavLinkMatch.All">
                    <span class="oi oi-arrow-left"></span>
                    <span class="item-text pl-2">Ticket</span>
                </NavLink>
            </li>
        </ul>
    </div>


    <div class="@Content content container-fluid pb-2">
        <BlazoredToasts></BlazoredToasts>
        @Body
    </div>
</div>

@code{
    /*
     * Bool for showing navigation menu
     */
    private bool _collapseNavMenu;
    
    /*
     * Adjusting CSS
     */
    private string NavMenuCssClass => _collapseNavMenu ? "sidebar-min" : "sidebar";
    private string Content => _collapseNavMenu ? "content-max" : "content-min";

    /*
     * Toggle navigation menu
     */

    private void ToggleNavMenu()
    {
        _collapseNavMenu = !_collapseNavMenu;
    }

}