.page {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #2F4858;
}

.main {
    flex: 1;
}

.sidebar {
    background-image: linear-gradient(180deg, rgb(122, 205, 38) 0%, #dfd9e0 70%);
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 200px;
        height: 100vh;
        position: sticky;
        top: 0;
    }


    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
