@page "/Config"
@using System.Net
@using AndroidDataRecorder.Backend
@using AdbServer = AndroidDataRecorder.Backend.AdbServer

@inject IToastService ToastService;

<header>
    <h1 class="text-center" style="color: white">Configuration</h1>
</header>

<br>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="card text-center card-text h-100 " style="height: auto">
            <div class="card-header" style="color: white">
                Add Device
            </div>
            <div class="card-body text-left ">
                <div class="row">
                    <div class="col">
                        <EditForm Model="_device" OnSubmit="AddButtonPressed">
                            <div class="row">
                                <div class="col-sm-2">
                                    <label style="font-size: x-large; vertical-align: middle">IP-address:</label>
                                </div>
                                <div class="col">
                                    <InputText type="text" class="form-control" placeholder="192.168.100.5" @bind-Value="_device.IpAddress"/>
                                </div>
                                
                            </div>
                                    
                            <br>
                            <div class="row justify-content-center">
                                <button type="submit" class="btn btn-success">Add Device</button>
                            </div>
                        </EditForm>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <h3>Known Devices</h3>
                        <div class="table-wrapper-scroll-y my-custom-scrollbar table-responsive-md ">
                            <table class="table table-bordered table-striped mb-0">
                                <tbody>
                                @foreach (var item in Config.GetKnownDevices())
                                {
                                    <tr>
                                        <td>
                                            @item
                                        </td>
                                        <td>
                                            <button class="btn btn-success" @onclick="() => AttachDevice(item)">Attach</button>
                                            <button class="btn btn-danger" @onclick="() => RemoveDevice(item)">Remove</button>
                                        </td>
                                    </tr>
                                }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer text-right">
                ADB Version 1.0.@_adbVersion
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>

<br>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="card justify-content-center">
            <div class="card-header text-center" style="background: darkred; color: white">
                DANGER ZONE
            </div>
            <div class="card-body">
                <button type="submit" class="btn btn-danger btn-block danger-buttons" @onclick="RestartAdb">Restart ADB server</button>
                <button type="submit" class="btn btn-danger btn-block danger-buttons" @onclick="KillAdb">Kill ADB server</button>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>



@code {
    /*
     * ADB version used
     */
    private int _adbVersion;
    
    /*
     * Model for Editform
     */
    private Device _device = new Device();

    /*
     * Set device list
     */
    protected override void OnInitialized()
    {
        base.OnInitialized();
        _adbVersion = AdbServer.GetAdbVersion();
    }
    
    
    
    /*
     * Add device to known devices
     */
    void AddButtonPressed()
    {
        try
        {
            // Check for 3 dots and valid range
            if (_device.IpAddress.Count(c => c == '.') == 3 && IPAddress.TryParse(_device.IpAddress, out var address))
            {
                // Attach device to ADB
                if (AdbServer.ConnectWirelessClient(address.ToString()))
                {
                    // Add device to config file
                    Config.AddKnownDevice(address.ToString());
                    ToastService.ShowSuccess("Device with IP-Address: " + address + " successfully added!", "Success");
                }
                else
                {
                    ToastService.ShowError("Connection failed", "Error");
                }
            }
        }
        catch (Exception)
        {
            ToastService.ShowError("That is not an IP-Address!", "Error");
            ToastService.ShowError("Could not add device!", "Error");
        }
    }

    /*
     * Restart ADB server
     */
    private static void RestartAdb()
    {
        AdbServer.RestartAdbServer();
    }

    /*
     * Kill ADB Server
     */
    private static void KillAdb()
    {
        AdbServer.KillAdbServer();
    }

    /*
     * Attach device
     */
    private void AttachDevice(string address)
    {
        AdbServer.ConnectWirelessClient(address);
    }

    /*
     * Delete known device from list
     */
    private static void RemoveDevice(string address)
    {
        Config.DeleteKnownDevice(address);
    }

    private class Device
    {
        public string IpAddress;
    }
}