.card-text{
    size: auto;
}

.card-header{
    font-size: 2vw;
    background-color: #295C07;
}


.danger-buttons{
    font-size: x-large;
    height: auto;
}

.wrapper > img {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
}

.my-custom-scrollbar {
    position: relative;
    height: 230px;
    overflow: auto;
}
.table-wrapper-scroll-y {
    display: block;
}