.card-text{
    size: auto;
}

.side-cards {
    height: 20rem;
}

.progress {
    border-radius: 10px;
    width: 100%;
    text-align:center;
}

.progress-bar {
    border-radius: 0px;
    padding: 5px;
    height: 100%
}

.wrapper > img {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
}

.scroll-bar {
    position: relative;
    overflow: auto;
}
.table-wrapper-scroll-y {
    display: block;
}

.my-custom-scrollbar {
    position: relative;
    height: 120px;
    overflow: auto;
}