.card-text{
    size: auto;
}

.card-header{
    font-size: 2vw;
    background-color: #295C07;
}

.side-cards {
    height: 19rem;
}

.progress {
    border-radius: 10px;
    width: 100%;
    text-align:center;
}

.progress-bar {
    border-radius: 0px;
    padding: 5px;
    height: 100%
}

.wrapper > img {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
}

.scroll-bar {
    position: relative;
    overflow: auto;
}
.table-wrapper-scroll-y {
    display: block;
}

.table-custom-head {
    background-color: #295C07;
    font-size: 2vw;
    color: white;
}