@page "/marker"
@using AndroidDataRecorder.Misc
@using AndroidDataRecorder.Database

<header>
    <h1 class="text-center" style="color: white">Marker</h1>
</header>

<br>

<main class="justify-content-center">
    <section id="marker_list">
        <div class="card">
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Time</th>
                    <th>Message</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var marker in Enumerable.Reverse(MarkerList.Markers))
                {
                    <tr>
                        <td>@marker.markerId</td>
                        <td>@marker.timeStamp</td>
                        <td class="w-75">@marker.message</td>
                        <td class="text-center">
                            <button @onclick="() => DeleteButton(marker.markerId)" class="btn btn-danger">
                                <span style="vertical-align: middle" class="oi oi-circle-x"></span>
                            </button>
                        </td>
                    </tr>
                }
                </tbody>
            </table>

        </div>
    </section>
</main>

@code {
    /*
     * Database
     */
    Database _data = new Database();

    /*
     * Markerlist
     */
    MarkerList _markerList = new MarkerList();

    /*
     * Delete button for marker
     */

    private void DeleteButton(int markerid)
    {
        _data.DeleteMarker(markerid);
        _markerList.Update();
    }

}