@page "/marker"
@using AndroidDataRecorder.Misc

<header>
    <h1 class="text-center" style="color: white">Marker</h1>
</header>

<br>

<main class="justify-content-center">
    <section id="marker_list">
        <div class="card">
            <table>
                <tr>
                    <th>Time</th>
                    <th>Message</th>
                </tr>

                @foreach (var marker in Enumerable.Reverse(MarkerList.Markers))
                {
                    <tr>
                        <td>@marker._markerTimestamp</td>
                        <td>@marker._markerMessage</td>
                    </tr>
                }
            </table>

        </div>
    </section>
</main>

@code {

}