@page "/marker"

<header>
    <h1 class="text-center" style="color: white">Marker</h1>
</header>

<br>

<main class="justify-content-center">
    <section id="marker_list">
        <div class="card">
            <ul>
                
            </ul>
        </div>
    </section>
</main>

@code {
    
}