@page "/Screen"
@using Screenrecord
@using AndroidDataRecorder.Misc
@using AndroidDataRecorder.Backend
@using System.IO

<button @onclick="StartRecord">start recording</button>
<button @onclick="StopRecord">stop recording</button>
<button @onclick="CreateMarker">create Marker</button>
<button @onclick="CreateVideo">create Video</button>


@code {

    private Marker _marker;
    DateTime startTime;
    DateTime endTime;
    /*
     * Start recording
     */

    public void StartRecord()
    {
        bool isActive = RecController.StartScrRec(MarkerList.ActiveDeviceData, 10000);

        if (isActive)
        {
            Console.WriteLine("Recording started successful");
        }
        else
        {
            Console.WriteLine("No device selected to start recording");
        }
    }

    /*
     * Stop recording
     */

    public void StopRecord()
    {
        RecController.StopScrRec(MarkerList.ActiveDeviceData);
    }

    public void CreateMarker()
    {
        _marker = new Marker();
        _marker.markerId = 1;
        _marker.devicename = "hero2lte";
        _marker.timeStamp = DateTime.Now;
        _marker.deviceSerial =MarkerList.GetDeviceSerial();
        startTime = DateTime.Now.AddMinutes(-5);
        endTime = DateTime.Now.AddMinutes(2);
        Console.WriteLine("Marker created:\n" + "Marker time: " + _marker.timeStamp + "\nstartTime: "+startTime+"\nendtime: "+endTime);
    }

    public void CreateVideo()
    {
        Console.WriteLine("Create Video for marker time: "+_marker.timeStamp);
        RecController.StartCreatingVideo(_marker, startTime, endTime, 5000);
    }
}