@page "/Screen"
@using Screenrecord
@using AndroidDataRecorder.Misc
@using Controller = Microsoft.AspNetCore.Mvc.Controller

<button @onclick="StartRecordOne">start recording</button>
<button @onclick="StopRecordOne">stop recording</button>

@code {
    /*
     * Start recording
     */
    public void StartRecordOne()
    {
        RecController.StartScrRec(MarkerList.ActiveDeviceData);
    }
    
    /*
     * Stop recording
     */
    public void StopRecordOne()
    {
        RecController.StopScrRec(MarkerList.ActiveDeviceData);
    }
    
}