@page "/Screen"
@using AndroidDataRecorder.Screenrecord

<button @onclick="StartRecord">start</button>
<button @onclick="StopRecord">stop</button>

@code {
    /*
     * Start recording
     */
    public void StartRecord()
    {
        Screenrecord.StartScreenrecord();
    }
    
    /*
     * Stop recording
     */
    public void StopRecord()
    {
        Screenrecord.StopRecording();
    }
}