@page "/Screen"
@using AndroidDataRecorder.Screenrecord
@using AndroidDataRecorder.Misc

<button @onclick="StartRecordOne">start device 1</button>
<button @onclick="StopRecordOne">stop device 1</button>
<button @onclick="StartRecordTwo">start device 2</button>
<button @onclick="StopRecordTwo">stop device 2</button>

@code {
    /*
     * Start recording
     */
    public void StartRecordOne()
    {
        Screenrecord.StartScreenrecord(MarkerList.ActiveDeviceData);
    }
    
    /*
     * Stop recording
     */
    public void StopRecordTwo()
    {
        Screenrecord.StopRecording();
    }
    
    public void StartRecordTwo()
    {
        Screenrecord.StartScreenrecord(MarkerList.ActiveDeviceData);
    }
    
    /*
     * Stop recording
     */
    public void StopRecordOne()
    {
        Screenrecord.StopRecording();
    }
}