@page "/Screen"
@using Screenrecord
@using AndroidDataRecorder.Misc
@using AndroidDataRecorder.Backend

<button @onclick="StartRecordOne">start recording</button>
<button @onclick="StopRecordOne">stop recording</button>

@code {
    /*
     * Start recording
     */
    public void StartRecordOne()
    {
        bool isActive = RecController.StartScrRec(MarkerList.ActiveDeviceData,5000,4);

        if (isActive)
        {
            Console.WriteLine("Recording started successful");
        }
        else
        {
            Console.WriteLine("No device selected to start recording");
        }
    }
    
    /*
     * Stop recording
     */
    public void StopRecordOne()
    {
        RecController.StopScrRec(MarkerList.ActiveDeviceData);
    }
    
}