@page "/Pi"
@using AndroidDataRecorder.Misc
@using AndroidDataRecorder.Database
@layout PiLayout
<div class="master">
    <div class="row p-3">
        <div class="col-sm-6">
            <div class="card">
                <button class="btn @BtnColor text-center top-row" @onclick="ToggleBtn">@LoggingBtnText</button>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <button class="btn btn-primary text-center top-row" @onclick="CreateMarker">Set Marker</button>
            </div>
        </div>
    </div>
    
    <button class="btn btn-block" >
        <div class="row p-3">
            <div class="col text-center">
                <div class="card">
                    Click on the card to change the device. Current Device is @device
                    <PerformanceChart DeviceSerial="@MarkerList.GetDeviceSerial()"></PerformanceChart>
                </div>
            </div>
        </div>
    </button>
</div>


@code {
    
    string device = MarkerList.GetDeviceName();
    /*
     * Bool for logging button
     */
    private bool _toggleLoggingBtn;
    
    /*
     * Database
     */
    Database _database = new Database();
    
    /*
     * MarkerList
     */
    MarkerList _markerList = new MarkerList();

    /*
     * Adjusting CSS
     */
    private string BtnColor => _toggleLoggingBtn ? "btn-danger" : "btn-success";

    private string LoggingBtnText => _toggleLoggingBtn ? "Stop Logging" : "Start Logging";

    /*
     * Toggle logging button
     */
    private void ToggleBtn()
    {
        _toggleLoggingBtn = !_toggleLoggingBtn;
    }

    private void CreateMarker()
    {
        
        // New Databasemethod
        _database.InsertValuesInTableMarker(MarkerList.GetDeviceName(), MarkerList.GetDeviceSerial(), DateTime.Now, "Marker from pi");

        _markerList.Update();
    }

}