.top-row {
    height: 50px;
}

.master {
    overflow: hidden;
}

.btn-primary:active {
    background-color: #28a745 !important;
}

.scroll-bar {
    position: relative;
    overflow: auto;
}
.table-wrapper-scroll-y {
    display: block;
}